.navbar {
  height: 60px;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* Search */
.searchBox {
  display: flex;
  width: 40%;
}

.searchBox input {
  flex: 1;
  padding: 6px;
  border: none;
  outline: none;
}

.searchBox button {
  padding: 6px 12px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

/* Right side */
.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.uploadBtn {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
}

.profile {
  font-size: 22px;
  cursor: pointer;
}
